@import './pureicon.scss';
.App {
    ul {
        display: flex;
        flex-flow: row wrap;
        width: 350px;
        justify-content: center;
        align-items: center;
        li {
            list-style: none;
            .icon {
                display: block;
            }
        }
    }
   
  }